{% extends '_layouts/centered_square_card.html.twig' %}

{% block card_content %}
    <div class="d-flex flex-column align-items-center p-5 verification-page">
        <div class="icon mb-3 text-success">
            <i class="bi bi-patch-check-fill"></i>
        </div>

        <p>
            {% trans from 'security' %}
                Your email address has successfully been verified!
            {% endtrans %}
        </p>

        <div class="mt-3">
            <a href="{{ path('app_homepage') }}" class="btn btn-outline-primary">{% trans from 'security' %}Back to the Homepage{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
