@import "./variables";

:root {
    --opposite-bg: #{$darkBg};
    --shadow-color: #00000010;
}

@media (prefers-color-scheme: dark) {
    :root {
        --opposite-bg: #{$lightBg};
        --shadow-color: #00000010;
    }
}

html, body {
    height: 100%;
    width: 100%;
}

.small-font {
    font-size: .8em;
}

.drop-shadow {
    box-shadow: 0 0 3px 3px var(--shadow-color);
}

@import "./auth";
