{% extends 'base.html.twig' %}

{% block body %}
<div class="auth-form d-flex justify-content-center align-items-center h-100 w-100">
  <square-card class="d-flex align-items-stretch">
    <div class="d-none d-lg-flex align-items-center justify-content-center left-side">
        <picture>
            <source srcSet="{{ asset('images/icon-monotone-black.svg') }}" media='(prefers-color-scheme: dark)'>
            <img src="{{ asset('images/icon-monotone-white.svg') }}" class="w-100">
        </picture>
    </div>

    <div class="p-5 right-side">
        <h5 class="text-center mb-5">{% block card_title %}{% endblock %}</h5>
        {% block form %}{% endblock %}
        <div class="or my-4 opacity-50">
            <span class="or-text">{% trans %}or{% endtrans %}</span>
        </div>
        <div class="small-font opacity-75 text-center">
            {% block auth_footer %}{% endblock %}

            <div class="mt-4">
                <a href="{{ path('app_homepage') }}" class="secondary-link">{% trans %}Back to the Homepage{% endtrans %}</a>
            </div>
        </div>
    </div>
  </square-card>
</div>
{% endblock %}
