{% extends 'auth/_layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block card_title %}
Login
{% endblock %}

{% block form %}
<div class="my-3">
    {{ form(form) }}
</div>

<div class="small-font">
    Don't have an account yet? <a href="{{ path('app_register') }}">Register</a>
</div>
{% endblock %}
