{% extends 'auth/_layout.html.twig' %}

{% block title %}Create an Account{% endblock %}
{% block card_title %}Create an Account{% endblock %}

{% block form %}
{% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
{{ form(registrationForm) }}
{% endblock %}

{% block auth_footer %}
Already have an account? <a href="{{ path('app_login') }}">Log In</a>
{% endblock %}
